<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.ClassInfoMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.ClassInfo">
            <id property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="college" column="college" jdbcType="VARCHAR"/>
            <result property="headTeacherId" column="head_teacher_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        class_id,class_name,grade,
        major,college,head_teacher_id
    </sql>
    <select id="selectPageVo" resultType="xyz.innky.graduationproject.web.vo.ClassInfoVo">
        select <include refid="Base_Column_List"></include> ,teacher_name
        from class_info left join teacher on head_teacher_id = teacher.teacher_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectByClassId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class_info
        where
        class_id = #{classId,jdbcType=NUMERIC}
    </select>
</mapper>
