<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.Device">
            <id property="deviceId" column="device_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
            <result property="imageId" column="image_id" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        device_id,status,device_name,
        image_id,uuid,type
    </sql>
    <select id="selectPageVo" resultType="xyz.innky.graduationproject.web.vo.DeviceVo">
        select
        <include refid="Base_Column_List"/>
        from device
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="getUnusedDevice" resultType="xyz.innky.graduationproject.web.pojo.Device">
        select <include refid="Base_Column_List"/> from device
        where device_id not in (select device_id from device_scene_relation)
    </select>
    <select id="getAllDevicesByScene" resultType="xyz.innky.graduationproject.web.vo.DeviceVo">

        select d.device_id,d.status,d.device_name,d.image_id,d.uuid,dsr.role
        from device_scene_relation dsr left join device d on dsr.device_id = d.device_id
        where dsr.scene_id = #{sceneId}
    </select>
    <update id="updateStatusByUuid">
        update device
        set status = #{status,jdbcType=NUMERIC}
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>
</mapper>
