<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.ExerciseSceneRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.ExerciseSceneRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
            <result property="sceneId" column="scene_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exercise_id,scene_id
    </sql>
</mapper>
