<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.ExerciseMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.Exercise">
            <id property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="sCourseId" column="s_course_id" jdbcType="INTEGER"/>
            <result property="attachmentPath" column="attachment_path" jdbcType="VARCHAR"/>
            <result property="sceneId" column="scene_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        exercise_id,content,start_time,
        end_time,s_course_id,attachment_path,
        scene_id
    </sql>
    <select id="getAllBySCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exercise
        where
        s_course_id = #{sCourseId,jdbcType=NUMERIC}
    </select>
    <select id="getAllBySCourseIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exercise
        where
        s_course_id in
        <foreach collection="sCourseIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="exerciseId">
        insert into exercise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exerciseId != null">exercise_id,</if>
            <if test="content != null">content,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="sCourseId != null">s_course_id,</if>
            <if test="attachmentPath != null">attachment_path,</if>
            <if test="sceneId != null">scene_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exerciseId != null">#{exerciseId,jdbcType=INTEGER},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="sCourseId != null">#{sCourseId,jdbcType=INTEGER},</if>
            <if test="attachmentPath != null">#{attachmentPath,jdbcType=VARCHAR},</if>
            <if test="sceneId != null">#{sceneId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
</mapper>
