<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.Menu">
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="vuePath" column="vue_path" jdbcType="VARCHAR"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,vue_path,menu_name,
        parent_id,icon
    </sql>
</mapper>
