<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.SCourseTimeRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.SCourseTimeRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sCourseId" column="s_course_id" jdbcType="INTEGER"/>
            <result property="courseTimeId" column="course_time_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,s_course_id,course_time_id
    </sql>
</mapper>
