<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.SCourseClassRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.SCourseClassRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sCourseId" column="s_course_id" jdbcType="INTEGER"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
    </resultMap>
<!--    public class SCVO {
    private Integer courseId;
    private List<Integer> classIds;
}
-->
    <resultMap id="SCVO" type="xyz.innky.graduationproject.web.vo.SCVO">
        <result property="courseId" column="courseId" jdbcType="INTEGER"/>
<!--    private List<Integer> classIds;    -->
        <collection property="classIds" ofType="java.lang.Integer" javaType="java.util.List">
            <result column="class_id" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id,s_course_id,class_id
    </sql>
    <insert id="addSCourseClassRelation">
        insert into s_course_class_relation(s_course_id,class_id) values
        <foreach collection="classInfos" item="item" index="index" separator=",">
            (#{sCourseId},#{item})
        </foreach>
    </insert>
    <delete id="deleteBySCourseId">
        delete
        from s_course_class_relation
        where s_course_id = #{sCourseId,jdbcType=NUMERIC}
    </delete>
    <select id="getAllBySCourseId" resultType="xyz.innky.graduationproject.web.pojo.ClassInfo">
        select ci.* from s_course_class_relation left join class_info ci on s_course_class_relation.class_id = ci.class_id
        where s_course_id=#{sCourseId,jdbcType=NUMERIC}
    </select>
    <select id="getAllByClassId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_course_class_relation
        where
        class_id = #{classId,jdbcType=NUMERIC}
    </select>
    <select id="getSCVO" resultMap="SCVO">
        select s_course.courseId, sccr.class_id
        from s_course join s_course_class_relation sccr on s_course.s_course_id = sccr.s_course_id
    </select>

</mapper>
