<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.SpecificCourseMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.SpecificCourse">
            <id property="sCourseId" column="s_course_id" jdbcType="INTEGER"/>
            <result property="sCourseName" column="s_course_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_course_id,s_course_name
    </sql>
</mapper>
