<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.StudentExerciseRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.StudentExerciseRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
            <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="resultsAnalysis" column="results_analysis" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="xyz.innky.graduationproject.web.pojo.Exercise">
        <id property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="sCourseId" column="s_course_id" jdbcType="INTEGER"/>
        <result property="attachmentPath" column="attachment_path" jdbcType="VARCHAR"/>
        <result property="sceneId" column="scene_id" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="Vo" type="xyz.innky.graduationproject.web.vo.StudentExerciseVo" extends="BaseResultMap2">
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="resultAnalysis" column="results_analysis" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,exercise_id,
        submit_time,image,score,
        results_analysis
    </sql>
    <select id="countByExerciseIdAndSubmitTimeNotNull" resultType="int">
        select count(*)
        from student_exercise_relation
        where exercise_id = #{exerciseId,jdbcType=NUMERIC} and submit_time is not null
    </select>
    <select id="countByExerciseId" resultType="int">
        select count(*)
        from student_exercise_relation
        where exercise_id = #{exerciseId,jdbcType=NUMERIC}
    </select>
    <select id="countByExerciseIdAndScoreNotNull" resultType="int">
        select count(*)
        from student_exercise_relation
        where exercise_id = #{exerciseId,jdbcType=NUMERIC}
          AND score is not null
    </select>
    <select id="getAllByExerciseIdIn" resultType="xyz.innky.graduationproject.web.vo.ExerciseMarkVo">
        select student_exercise_relation.*, student_name,course_name, content, class_name
        from student_exercise_relation left join exercise e on student_exercise_relation.exercise_id = e.exercise_id
        left join s_course sc on e.s_course_id = sc.s_course_id
        left join course c on sc.courseId = c.course_id
        left join student s on student_exercise_relation.student_id = s.student_id
        left join class_info ci on s.class_id = ci.class_id
        where
        student_exercise_relation.exercise_id in
        <foreach collection="exerciseIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>
    <update id="updateScoreById">
        update student_exercise_relation
        set score = #{score,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <insert id="insertSelective">
        insert into student_exercise_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="exerciseId != null">exercise_id,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="image != null">image,</if>
            <if test="score != null">score,</if>
            <if test="resultsAnalysis != null">results_analysis,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="studentId != null">#{studentId,jdbcType=INTEGER},</if>
            <if test="exerciseId != null">#{exerciseId,jdbcType=INTEGER},</if>
            <if test="submitTime != null">#{submitTime,jdbcType=INTEGER},</if>
            <if test="image != null">#{image,jdbcType=INTEGER},</if>
            <if test="score != null">#{score,jdbcType=INTEGER},</if>
            <if test="resultsAnalysis != null">#{resultsAnalysis,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateSelective">
        update student_exercise_relation
        <set>
            <if test="submitTime != null">submit_time=#{submitTime,jdbcType=NUMERIC},</if>
            <if test="image != null">image=#{image,jdbcType=NUMERIC},</if>
            <if test="resultsAnalysis != null">results_analysis=#{resultsAnalysis,jdbcType=VARCHAR},</if>
        </set>
        where student_id=#{studentId,jdbcType=NUMERIC} and exercise_id=#{exerciseId,jdbcType=NUMERIC}
    </update>
    <select id="getOneByExerciseIdAndStudentId" resultMap="Vo">
        select
        e.*, submit_time, score, image, results_analysis
        from student_exercise_relation left join exercise e on student_exercise_relation.exercise_id = e.exercise_id
        where
            student_exercise_relation.exercise_id = #{exerciseId,jdbcType=NUMERIC}
        AND student_id = #{studentId,jdbcType=NUMERIC}
    </select>
</mapper>
