<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.StudentDeviceRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.StudentDeviceRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
            <result property="sequence" column="sequence" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,device_id,
        sequence,date
    </sql>
    <select id="getAllByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_device_relation
        where
        student_id = #{studentId,jdbcType=NUMERIC}
    </select>
    <delete id="deleteByDeviceIdAndStudentId">
        delete
        from student_device_relation
        where device_id = #{deviceId,jdbcType=NUMERIC}
          AND student_id = #{studentId,jdbcType=NUMERIC}
    </delete>
    <select id="getOneByDeviceIdAndStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_device_relation
        where
        device_id = #{deviceId,jdbcType=NUMERIC}
        AND student_id = #{studentId,jdbcType=NUMERIC}
    </select>
</mapper>
