<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.graduationproject.web.mapper.StudentDeviceRelationMapper">

    <resultMap id="BaseResultMap" type="xyz.innky.graduationproject.web.pojo.StudentDeviceRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
    </resultMap>



    <sql id="Base_Column_List">
        id,start_time,end_time,
        student_id,device_id
    </sql>
    <select id="getAllByStudentId" resultType="xyz.innky.graduationproject.web.vo.StudentDeviceReservation">
        select
            d.*,start_time
        from student_device_relation left join device d on student_device_relation.device_id = d.device_id
        where
            student_id = #{studentId,jdbcType=NUMERIC}
    </select>

</mapper>
